/* liScroll styles */
.tickercontainer { /* the outer div with the black border */
	overflow: hidden; 
}
.tickercontainer ul.newsticker { /* that's your list */
	position: relative;
	right: 0;
}
.tickercontainer ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
}
.tickercontainer ul.newsticker .item-source {
	margin-left: 15px;
}
.tickercontainer ul.newsticker .separator {
	margin-right: 25px;
	margin-left: 25px;
}