/* liScroll styles */
.tickercontainer { /* the outer div with the black border */
	overflow: hidden; 
}
.tickercontainer ul.newsticker { /* that's your list */
	position: relative;
	right: 0;
}
.tickercontainer ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
}
.tickercontainer ul.newsticker a {
	margin-right: 50px;
} 
.tickercontainer ul.newsticker span {
	margin-right: 10px;
}