<h1 change:h="" tal:condition="not: configuration/getUseLabel">${title}</h1>
<h1 change:h="" tal:condition="configuration/getUseLabel">${document/getLabelAsHtml}</h1>
<ul class="document-list">
	<li class="${alternateclass:itemIdex}" tal:repeat="item php:channel.getItems(0, configuration.getItemCount())">
		<h2 change:h="">
			<a class="link" tal:condition="not: configuration/getOpenLinkInNewWindow" tal:attributes="href item/getPermalink">${item/getCropTitle}</a>
			<a class="link popup" tal:condition="configuration/getOpenLinkInNewWindow" tal:attributes="href item/getPermalink" onclick="return accessiblePopup(this);">${item/getCropTitle}</a>
		</h2>
		<p class="normal meta-infos">
			${trans:m.rss.fo.fromSource, ucf} <a class="link" tal:condition="configuration/getShowSource" href="${item/getChannelLink}">${item/getChannelTitle}</a>
			<tal:block tal:condition="item/getDate"><span class="separator"> - </span>${item/getLocalDate}</tal:block>
		</p>
		<tal:block tal:condition="not: configuration/getTitleOnly">
			<p tal:condition="backoffice" class="normal content-feedrss">${item/getContentForBackoffice}</p>
			<p tal:condition="not: backoffice" class="normal content-feedrss">${item/getContent}</p>
		</tal:block>
	</li>
</ul>