<h2 change:h="" tal:condition="not: configuration/getUseLabel">${title}</h2>
<h2 change:h="" tal:condition="configuration/getUseLabel">${document/getLabelAsHtml}</h2>
<ol class="feedrss">
        <li tal:repeat="item php:channel.getItems(0, configuration.getItemCount())">
                <h3 change:h="">
                        <a class="link" tal:condition="not: configuration/getOpenLinkInNewWindow" tal:attributes="href item/getPermalink">${item/getCropTitle}</a>
                        <a class="link popup" tal:condition="configuration/getOpenLinkInNewWindow" tal:attributes="href item/getPermalink" onclick="return accessiblePopup(this);">${item/getCropTitle}</a>
		</h3>
			<a class="link tiny" tal:condition="configuration/getShowSource" href="${item/getChannelLink}">${trans:m.rss.fo.fromSource, ucf} ${item/getChannelTitle}</a>
                
                <tal:block tal:condition="not: configuration/getTitleOnly">
                        <p tal:condition="item/getDate" class="date-feedrss">${item/getLocalDate}</p>
                        <p tal:condition="backoffice" class="content-feedrss">${item/getContentForBackoffice}</p>
                        <p tal:condition="not: backoffice" class="content-feedrss">${item/getContent}</p>
                </tal:block>
        </li>
</ol>
